@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .global-container {
    @apply mx-auto max-w-6xl px-2 sm:px-6 lg:px-8;
  }
}

body {
  background: linear-gradient(
    178deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 29, 75, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.hero-section {
  background: linear-gradient(
    178deg,
    rgba(0, 91, 160, 0.541) 0%,
    rgba(1, 77, 109, 0.877) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
